*.lock
!yarn.lock
packages-lock.json
node_modules/
tmp/
packages/*/lib/
examples/**/@types/
@types/node-gtk/*
@types/Gjs/*
# Uncommit this to see type build changes
# !@types/Gjs/Gtk-4.0.d.ts
# !@types/node-gtk/Gtk-4.0.d.ts
# !@types/Gjs/Gtk-2.0.d.ts
# !@types/node-gtk/Gtk-2.0.d.ts
# !@types/Gjs/*

tsconfig.alias.json

index.ts.bak

examples/**/node_modules/
examples/**/dist/
debug.txt

# Yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Generated configs
tsconfig.alias.json