[submodule "test/girs/vala-girs"]
	path = vala-girs
	url = https://github.com/nemequ/vala-girs.git
	branch = master
[submodule "types"]
	path = types-release
	url = https://github.com/gjsify/types
	branch = main
[submodule "gjs"]
	path = gjs
	url = https://gitlab.gnome.org/GNOME/gjs.git
[submodule "types-dev"]
	path = types-dev
	url = git@github.com:gjsify/types.git
	branch = dev
[submodule "devdocsgjs"]
	path = devdocsgjs
	url = https://gitlab.gnome.org/GNOME/devdocsgjs.git
	branch = main
