*.lock
!yarn.lock
packages-lock.json
node_modules/
tmp/
packages/*/lib/
examples/**/@types/
@types/*
@types/*
# Uncommit this to see type build changes
# !@types/Gtk-4.0.d.ts
# !@types/Gtk-4.0.d.ts
# !@types/Gtk-2.0.d.ts
# !@types/Gtk-2.0.d.ts
# !@types/*

index.ts.bak

examples/**/node_modules/
examples/**/dist/
examples/**/tsconfig.alias.json

# Locally generated types
@types/

tests/**/dist/

debug.txt

# Yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.parcel-cache/