[submodule "test/girs/vala-girs"]
	path = vala-girs
	url = https://github.com/nemequ/vala-girs.git
	branch = master
[submodule "types"]
	path = types
	url = https://github.com/gjsify/types
	branch = next
