[submodule "test/girs/vala-girs"]
	path = refs/vala-girs
	url = https://github.com/nemequ/vala-girs.git
	branch = master
[submodule "types-release"]
	path = types-release
	url = git@github.com:gjsify/types.git
	branch = main
[submodule "gjs"]
	path = refs/gjs
	url = https://gitlab.gnome.org/GNOME/gjs.git
[submodule "types-dev"]
	path = types-dev
	url = git@github.com:gjsify/types.git
	branch = dev
[submodule "devdocsgjs"]
	path = refs/devdocsgjs
	url = https://gitlab.gnome.org/GNOME/devdocsgjs.git
	branch = gnome
[submodule "refs/gjs-guide"]
	path = refs/gjs-guide
	url = https://gitlab.gnome.org/World/javascript/gjs-guide.git
[submodule "refs/typedoc"]
	path = refs/typedoc
	url = git@github.com:TypeStrong/typedoc.git
[submodule "refs/gi-docgen"]
	path = refs/gi-docgen
	url = https://gitlab.gnome.org/GNOME/gi-docgen.git
[submodule "docs"]
	path = docs
	url = git@github.com:gjsify/docs.git
	branch = main
[submodule "refs/valadoc-org"]
	path = refs/valadoc-org
	url = git@github.com:vala-lang/valadoc-org.git
[submodule "refs/gtk-doc"]
	path = refs/gtk-doc
	url = https://gitlab.gnome.org/GNOME/gtk-doc.git
