# Yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!@types/
@types/node-gtk/gio-2.0/*
!@types/node-gtk/gio-2.0/package.json
@types/node-gtk/glib-2.0/*
!@types/node-gtk/glib-2.0/package.json
@types/node-gtk/gobject-2.0/*
!@types/node-gtk/gobject-2.0/package.json
@types/node-gtk/node-gtk/*
!@types/node-gtk/node-gtk/package.json