# Yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!@types/
@types/gjs/gio-2.0/*
!@types/gjs/gio-2.0/package.json
@types/gjs/gjs/*
!@types/gjs/gjs/package.json
@types/gjs/glib-2.0/*
!@types/gjs/glib-2.0/package.json
@types/gjs/gobject-2.0/*
!@types/gjs/gobject-2.0/package.json