# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and run examples

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        architecture:
          - x64
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        submodules: true
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    # - name: Workaround for bad mirror
    #   run: sudo gem install apt-spy2; sudo apt-spy2 check; sudo apt-spy2 fix --commit;
    - name: Install updates
      run: sudo apt-get update; sudo apt-get upgrade
    - name: Install dependencies
      run: sudo apt-get --yes install gjs libappindicator3-dev libgda-5.0-dev libgirepository1.0-dev libgtk-3-dev libgtk-4-dev libgtksourceview-3.0-dev libnotify-dev libsoup2.4-dev libsoup-3.0-dev libwebkit2gtk-4.0-dev libadwaita-1-dev gnome-shell-common libmutter-10-dev libgcr-3-dev libgnome-desktop-3-dev
    - run: yarn install
    - run: yarn run build
    - run: yarn run build:all
    - run: gjs --version
    - run: yarn run start:cli-examples:gjs
    - name: Install dependencies for node-gtk
      run: sudo apt-get --yes install build-essential gobject-introspection libgirepository1.0-dev libcairo2-dev
    - run: yarn run start:cli-examples:node